<!-- Content Header (Page header) -->
<section class="content-header animated fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#dashboard">
        <i class="fa fa-dashboard"></i> Início</a>
    </li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<br>
<!-- Main content -->
<section class="content animated fadeInUp">
  <div class="painel painel-default">
    <!-- Small boxes (Stat box) -->
    <div class="row" ng-animate=" 'animate' ">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-primary btn-file"> Escolher arquivos&hellip;
              <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-accept="'pdf/*'" ngf-pattern="'.pdf'" ngf-max-height="1000"
                ngf-max-size="10MB">
                Select Foto</button>
            </span>
          </span>
          <span class="progress" ng-show="f.progress >= 0">
            <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
          </span>
        </div>

      </div>
    </div>
  </div>
</section>
