<!-- Content Header (Page header) -->
<section class="content-header animated fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#dashboard">
        <i class="fa fa-dashboard"></i> Início</a>
    </li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<br>
<!-- Main content -->
<section class="content animated fadeInUp">
  <div class="painel painel-default">
    <!-- Small boxes (Stat box) -->
    <div class="row" ng-animate=" 'animate' ">
      <div class="col-md-12">
        <video id="video" width="320" height="240" preload autoplay loop muted></video>
        <canvas id="canvas" width="320" height="240"></canvas>
      </div>
    </div>
  </div>
</section>

<!-- /.content -->
